name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Home
      run: cd ../
    - name: Example_mandelbrot_plot
      run: cd examples/mandelbrot-plot
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
