name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Example Mandelbrot-plot Build
      run: cargo build --verbose
      working-directory: mandelbrot-plot
    - name: Run tests
      run: cargo test --verbose
      working-directory: mandelbrot-plot
